{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true,
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
